#clock{
  font-size:80pt;
  
}

body{
  background-color:black;
}

#text1{
  color:#006500;
}

#text2{
  color:#bbee90;
}
#start{
  border-radius:22%;
}

#stop{
  border-radius:22%;
 }

h3{
  color:white;
}

#title{
  color:white;
}